<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>BoolApp</title>
</head>
<body>


<!-- NOTE Usare filter per la ricerca dei contatti oppure includes trasformare le lettere in lowercase @keyup. e basta
-->

<div id="root">

<div class="central">

        <!-- SECTION Sinistra -->

<div class="central_left">

<!-- SECTION Il mio profilo -->
    <div class="central_left_header">
        <div class="me">
            <img v-bind:src="profile.avatar" alt="">
            <div>{{profile.name}}</div>
        </div>
        <div>
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
            <!-- <i class="fa-solid fa-bell-slash"></i> -->
            <!-- <i class="fa-solid fa-plus"></i> -->
            <!-- <i class="fa-solid fa-paperclip"></i> -->
        </div>
    </div>
<!-- !SECTION Il mio profilo fine-->

<!-- SECTION Notifiche -->
    <div class="notifiche">
        <div class="notifiche_bell" >
            <i class="fa-solid fa-bell-slash"></i>
        </div>
        <div>
            <h4>Ricevi notifiche di nuovi messaggi</h4>
            <h5>Attiva notifiche desktop</h5>
        </div>
    </div>
<!-- !SECTION Notifiche fine -->

<!-- SECTION Search -->
<div class="central_left_search">
    <div>
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div>
        <input type="text">
    </div>
</div>
<!-- !SECTION Search -->

<!-- SECTION Guest -->
<div id="guest">

    <div class="guest_slot"
    v-for="(guest, index) in contacts"
    @click="guestRight(index)">
        <div class="guest_slot_left">
            <div>
                <img v-bind:src="guest.avatar" alt="Guest Image">
            </div>

            <div>
                {{guest.name}}
            </div>
        </div>

 <!-- FIXME da sistemare l'ultimo messaggio -->
        <div class="guest_slot_right"
        >
            <div>
                {{guest.messages[0].message}}
            </div>
            <div>
            <i>{{guest.messages[0].date}}</i>
            </div>
        </div>

    </div>

</div>
</div>
<!-- !SECTION Guest Fine-->
<!-- !SECTION Sinistra fine-->


<!-- SECTION destra-->

<!-- SECTION header destro -->
<!-- FIXME - Da sistemare la sezione centrale  -->
<div class="central_right">
    <div class="central_right_header">
        <div class="central_right_header_1">

            <div>     
                <img v-bind:src="contacts[guestImg].avatar" alt="Immagine">
            </div>
<!-- FIXME - da selezionare solo l'ora e non la data -->
            <div>
                <div>{{contacts[guestImg].name}}</div>
                <div> Ultimo accesso:  {{contacts[guestImg].messages[0].date}}</div>
            </div>

        </div>

        <div>
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i> 
        </div>

    </div>
<!-- !SECTION header destro fine-->
    
    <!-- FIXME - Da aggiungere drop down per la cancellazione -->

<!-- SECTION middel destro -->

    <div class="central_right_middle">

<!-- NOTE la classe da elimnare "guest_mess" -->
    
    <div
        id="guest_mess"
        v-for="(guestMes, index) in contacts[guestImg].messages"
        v-bind:class="(guestMes.status == 'sent' ) ? 'ms_sent' : 'ms_recive' ">

        <div class="drop_menu_align">

            <div>
                <div class="drop_menu_mess">
                    <div>{{guestMes.message}}
                        <i @click="dropMenuF()" v-bind:class="dropMenu[`${dropMenuIndex}`].classMenu"></i>
                    </div>
                </div>

                <div class="central_right_middle_2">
                    <i>{{guestMes.date}}</i>
                </div>
            </div>

            <div v-bind:class="(dropMenuIndex == 0) ? 'drop_menu_mess_0' : 'drop_menu_mess_1' ">

                <div @click="removeLista(index)">
                    Cancellazione
                </div>

                <div>
                    Info
                </div>
                
            </div>

        </div>
    </div>


    </div>
    
<!-- !SECTION middel destro fine-->


<!-- SECTION footer destro -->
    <div class="central_right_footer">
        <div>
            <i class="fa-solid fa-face-smile"></i>
        </div>
        <div>
            <input 
                type="text"
                placeholder="Scrivi un messaggio"
                v-model="nextMess"
                @keyup.enter="addMess"
                >
        </div>
        <div>
            <i class="fa-solid fa-microphone"></i>
        </div>
    </div>
<!-- !SECTION footer destro fine-->
</div>
<!-- !SECTION destra fine-->












</div>


















</div>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="./main.js"></script>
</body>
</html>