/* Inizio Utility */
*{Padding: 0;
    Margin: 0;
    Box-sizing: border-box}
         
  .clearfix::after{
   content: "";
   display: table;
   clear: both;}

  /* html {
   scroll-behavior: smooth;}
   /* Fine Utility */

   body{
       font-family: Arial, Helvetica, sans-serif;
       background-image: linear-gradient(to bottom,
            #009680 0px,
            #009680 15vh,
            #dddbd1 15vh,
            #d2dbdc 100vh
    );
        height: 100vh;
}

.central{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 90vh;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
   }

.central_left{
    width: 30%;
    height: 100%;
    background-color: white;
}

.central_right{
    width: 70%;
    height: 100%;
}

.central_left_header,
.central_right_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 10%;
    background-color: #E9EAED;
}

.me{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2em;
}

.central_left_header>div>img,
.central_right_header>div>img
{
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.central_left_header>div>i,
.central_right_header>div>i
{
    font-size: 1em;
    opacity: 0.5;
    margin-right: 0.5em;
}

.central_left_search{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
    width: 100%;
    height: 5%;
    margin-left: 40px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.central_left_search>div>input{
    width: 150%; 
    border: 1px solid rgba(4,4,4,0.09);
    font-size: 1em;
    border-radius: 10px;
    height: 2em;
    padding-left: 15px; ;
}

.central_left_search>div>i{
    opacity: 0.5;
    margin-right: 15px;
}

.notifiche{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    background-color: #99DAFD;
    height: 10vh;
    padding-left: 20px;
    align-items: center;
}

.notifiche_bell{
    font-size: 3em;
    margin-right: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    color: #99DAFD;
}
#guest{
    background-color: white;
}

.guest_slot{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.guest_slot>div>img{
    width: 50px;
    padding: 10px 0px 10px 10px;
    margin-right: 10px;
    border-radius: 50px;
}

.central_right{
    background-image: url("./img/mine.jpg");
    height: 100%;
    width: 70%;
}

.central_right_middle{
    width: 100%;
    height: 80%;
    border: 1px solid black;
}